.header {
    width: 100vw;
    background-color: var(--Primary_Basic_Content);
    text-align: center;
    padding: 10px;
  }
  
  .header-title {
    font-family: "Handjet", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--Primary_Basic_Background);
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
  }